<%= form_with(model: new_call) do |form| %>
  <% if new_call.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(new_call.errors.count, "error") %> prohibited this new_call from being saved:</h2>

      <ul>
        <% new_call.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_field :date %>
  </div>

  <div>
    <%= form.label :local, style: "display: block" %>
    <%= form.text_field :local %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :pedido, style: "display: block" %>
    <%= form.text_field :request %>
  </div>

  <div class="pt-3">
    <%= form.submit "registrar chamado", :class => "btn btn-info" %>
  </div>
<% end %>