<div id="<%= dom_id new_call %>">
  <p>
    <strong>Data:</strong>
    <%= new_call.date %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= new_call.local %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= new_call.name %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= new_call.request %>
  </p>

</div>
