<div id="<%= dom_id new_call %>">
  <p>
    <strong>Date:</strong>
    <%= new_call.date %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= new_call.local %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= new_call.name %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= new_call.request %>
  </p>

</div>
