<p style="color: green"><%= notice %></p>

<%= render @new_call %>

<div>
  <%= link_to "Editar este registro", edit_new_call_path(@new_call) %> |
  <%= link_to "Voltar para todos os registros", new_calls_path %>

  <%= button_to @new_call, method: :delete do %>
    <br/>
    <button type="button" class="btn btn-outline-danger">Apagar este registro</button>
  <% end %>
</div>
